{
  "swagger" : "2.0",
  "info" : {
    "description" : "Matrix Client-Server Api",
    "version" : "r0.3.0",
    "title" : "Matrix Client-Server Api",
    "termsOfService" : "http://www.github.com/kongchen/swagger-maven-plugin",
    "contact" : {
      "name" : "Anatoly",
      "url" : "https://github.com/ma1uta/jeon",
      "email" : "sablintolya@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "matrix.org:8448",
  "tags" : [ {
    "name" : "To read events, the intended flow of operation is for clients to first call the sync API without a since parameter. This returns the most recent message events for each room, as well as the state of the room at the start of the returned timeline. The response also includes a next_batch field, which should be used as the value of the since parameter in the next call to sync. Finally, the response includes, for each room, a prev_batch field, which can be passed as a start parameter to the rooms&lt;room_id&gt;messages API to retrieve earlier messages."
  }, {
    "name" : "_matrix",
    "description" : "If a client does not recognize any or all login flows it can use the fallback login API."
  }, {
    "name" : "_matrixclientr0",
    "description" : "The search API allows clients to perform full text search across events in all rooms that the user has been in, including those that they have left. Only events that the user is allowed to see will be searched, e.g. it won't include events in rooms that happened after you left."
  }, {
    "name" : "_matrixclientr0admin",
    "description" : "Gets information about a particular user"
  }, {
    "name" : "_matrixclientr0keys",
    "description" : "Matrix optionally supports end-to-end encryption, allowing rooms to be created whose conversation contents is not decryptable or interceptable on any of the participating homeservers."
  }, {
    "name" : "_matrixclientr0logincas",
    "description" : "Central Authentication Service (CAS) is a web-based single sign-on protocol."
  }, {
    "name" : "_matrixclientr0presence",
    "description" : "Each user has the concept of presence information."
  }, {
    "name" : "_matrixclientr0profile",
    "description" : "Profiles."
  }, {
    "name" : "_matrixclientr0rooms",
    "description" : "When a client receives an m.typing event, it MUST use the user ID list to REPLACE its knowledge of every user who is currently typing. The reason for this is that the server does not remember users who are not currently typing as that list gets big quickly. The client should mark as not typing any user ID who is not in that list."
  }, {
    "name" : "_matrixclientr0sendToDevice",
    "description" : "This module provides a means by which clients can exchange signalling messages without them being stored permanently as part of a shared communication history. A message is delivered exactly once to each client device."
  }, {
    "name" : "_matrixclientr0user",
    "description" : "Users can add tags to rooms. Tags are short strings used to label rooms, e.g. \"work\", \"family\". A room may have multiple tags. Tags are only visible to the user that set them but are shared across all their devices."
  }, {
    "name" : "_matrixclientr0user_directory",
    "description" : "User directory."
  }, {
    "name" : "_matrixclientr0voip",
    "description" : "The homeserver MAY provide a TURN server which clients can use to contact the remote party. The following HTTP API endpoints will be used by clients in order to get information about the TURN server."
  }, {
    "name" : "_matrixclientversions",
    "description" : "Gets the versions of the specification supported by the server."
  }, {
    "name" : "_matrixmediar0",
    "description" : "This module allows users to upload content to their homeserver which is retrievable from other homeservers. Its' purpose is to allow users to share attachments in a room. Key locations are represented as Matrix Key (MXC) URIs."
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/_matrix/client/r0/account/3pid" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets a list of the third party identifiers that the homeserver has associated with the user's account",
        "description" : "This is not the same as the list of third party identifiers bound to the user's Matrix ID in Identity Servers. Identifiers in this list may be used by the homeserver as, for example, identifiers that it will accept to reset the user's account password.",
        "operationId" : "showThreePid",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The lookup was successful",
            "schema" : {
              "$ref" : "#/definitions/ThreePidResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Adds contact information to the user's account",
        "description" : "",
        "operationId" : "updateThreePid",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "new contact information",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ThreePidRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The addition was successful.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "The credentials could not be verified with the identity server."
          }
        }
      }
    },
    "/_matrix/client/r0/account/3pid/email/requestToken" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Proxies the identity server API validate/email/requestToken",
        "description" : "roxies the identity server API validate/email/requestToken, but first checks that the given email address is not already associated with an account on this Home Server. This API should be used to request validation tokens when adding an email address to an account. This API's parameters and response is identical to that of the HS API /register/email/requestToken endpoint.",
        "operationId" : "threePidRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "An email was sent to the given address",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/account/deactivate" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Deactivate the user's account, removing all ability for the user to login again.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.An access token should be submitted to this endpoint if the client has an active session.The homeserver may change the flows available depending on whether a valid access token is provided.",
        "operationId" : "deactivate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeactivateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The account has been deactivated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/account/password" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Changes the password for an account on this homeserver.",
        "description" : "This API endpoint uses the User-Interactive Authentication API. An access token should be submitted to this endpoint if the client has an active session. The homeserver may change the flows available depending on whether a valid access token is provided.",
        "operationId" : "password",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "password",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PasswordRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The password has been changed.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/account/password/email/requestToken" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Proxies the identity server API validate/email/requestToken, but first checks that the given email address is associated with an account on this Home Server.",
        "description" : "This API should be used to request validation tokens when authenticating for the account/password endpoint. This API's parameters and response are identical to that of the HS API /register/email/requestToken except that M_THREEPID_NOT_FOUND may be returned if no account matching the given email address could be found. The server may instead send an email to the given address prompting the user to create an account. M_THREEPID_IN_USE may not be returned.",
        "operationId" : "passwordRequestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "An email was sent to the given address",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/account/whoami" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets information about the owner of a given access token",
        "description" : "Note that, as with the rest of the Client-Server API, Application Services may masquerade as users within their namespace by giving a user_id query parameter. In this situation, the server should verify that the given user_id is registered by the appservice, and return it in the response body.",
        "operationId" : "whoami",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The token belongs to a known user",
            "schema" : {
              "$ref" : "#/definitions/WhoamiResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/admin/whois/{userId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0admin" ],
        "summary" : "his API may be restricted to only be called by the user being looked up, or by a server admin. Server-local administrator privileges are not specified in this document.",
        "description" : "",
        "operationId" : "whois",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The use to look up",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The lookup was successful.",
            "schema" : {
              "$ref" : "#/definitions/AdminResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/auth/{auth}/fallback/web" : {
      "get" : {
        "tags" : [ "_matrix" ],
        "summary" : "Fallback login endpoint",
        "description" : "If a client does not know how to handle a given login type, it can direct the user to a web browser with the URL of a fallback page which will allow the user to complete that login step out-of-band in their web browser.",
        "operationId" : "auth",
        "produces" : [ "text/html" ],
        "parameters" : [ {
          "name" : "auth",
          "in" : "path",
          "description" : "The type name of the stage it is attempting.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "session",
          "in" : "query",
          "description" : "the ID of the session given by the homeserver.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "n HTML page which can perform this authentication stage. This page must use the following JavaScript when the authentication has been completed.",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/createRoom" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Create a new room with various configuration options.",
        "description" : "The server MUST apply the normal state resolution rules when creating the new room, including checking power levels for each event.",
        "operationId" : "create",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateRoomRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Information about the newly created room.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "400" : {
            "description" : "The request is invalid. A meaningful errcode and description error text will be returned."
          }
        }
      }
    },
    "/_matrix/client/r0/delete_devices" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Deletes the given devices, and invalidates any access token associated with them.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.",
        "operationId" : "deleteDevices",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DevicesDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The devices were successfully removed, or had been removed previously.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          }
        }
      }
    },
    "/_matrix/client/r0/devices" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets information about all devices for the current user.",
        "description" : "",
        "operationId" : "devices",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "A list of all registered devices for this user.",
            "schema" : {
              "$ref" : "#/definitions/DevicesResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/devices/{deviceId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets information on a single device, by device id.",
        "description" : "",
        "operationId" : "device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to retrieve",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Device information.",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "404" : {
            "description" : "The current user has no device with the given ID."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Updates the metadata on the given device.",
        "description" : "",
        "operationId" : "update",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The new display name for this device. If not given, the display name is unchanged.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeviceUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device was successfully updated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The current user has no device with the given ID."
          }
        }
      },
      "delete" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Deletes the given device, and invalidates any access token associated with it.",
        "description" : "This API endpoint uses the User-Interactive Authentication API.",
        "operationId" : "delete",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "The device to delete",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Additional authentication information for the user-interactive authentication API.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeviceDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device was successfully removed, or had been removed previously.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          }
        }
      }
    },
    "/_matrix/client/r0/directory/list/room/{roomId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets the visibility of a given room on the server's public room directory.",
        "description" : "",
        "operationId" : "getVisibility",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room ID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The visibility of the room in the directory",
            "schema" : {
              "$ref" : "#/definitions/RoomVisibility"
            }
          },
          "404" : {
            "description" : "The room is not known to the server"
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Sets the visibility of a given room in the server's public room directory.",
        "description" : "",
        "operationId" : "setVisibility",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room ID.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RoomVisibility"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The visibility was updated, or no change was needed.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The room is not known to the server."
          }
        }
      }
    },
    "/_matrix/client/r0/directory/room/{roomAlias}" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Requests that the server resolve a room alias to a room ID. The server will use the federation API to resolve the alias if the domain part of the alias does not correspond to the server's own domain.",
        "description" : "",
        "operationId" : "resolve",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room ID and other information for this alias.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "404" : {
            "description" : "There is no mapped room ID for this room alias."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Create a new mapping from room alias to room ID.",
        "description" : "",
        "operationId" : "newAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias to set",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RoomId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The mapping was created.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "409" : {
            "description" : "A room alias with that name already exists."
          }
        }
      },
      "delete" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Remove a mapping of room alias to room ID.",
        "description" : "",
        "operationId" : "delete",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomAlias",
          "in" : "path",
          "description" : "The room alias to remove.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The mapping was deleted.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/events" : {
      "get" : {
        "tags" : [ "To read events, the intended flow of operation is for clients to first call the sync API without a since parameter. This returns the most recent message events for each room, as well as the state of the room at the start of the returned timeline. The response also includes a next_batch field, which should be used as the value of the since parameter in the next call to sync. Finally, the response includes, for each room, a prev_batch field, which can be passed as a start parameter to the rooms&lt;room_id&gt;messages API to retrieve earlier messages." ],
        "summary" : "This will listen for new events related to a particular room and return them to the caller. This will block until an event is received, or until the timeout is reached.",
        "description" : "",
        "operationId" : "events",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The token to stream from. This token is either from a previous request to this API or from the initial sync API.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "timeout",
          "in" : "query",
          "description" : "The maximum time in milliseconds to wait for an event.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "room_id",
          "in" : "query",
          "description" : "The room ID for which events should be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The events received, which may be none.",
            "schema" : {
              "$ref" : "#/definitions/Page"
            }
          },
          "400" : {
            "description" : "Bad pagination from parameter."
          }
        }
      }
    },
    "/_matrix/client/r0/join/{roomIdOrAlias}" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API starts a user participating in a particular room, if that user is allowed to participate in that room. After this call, the client is allowed to see all current state events in the room, and all subsequent events associated with the room until the user leaves the room.",
        "description" : "",
        "operationId" : "joinByIdOrAlias",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomIdOrAlias",
          "in" : "path",
          "description" : "The room identifier or alias to join.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JoinRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been joined. The joined room ID must be returned in the room_id field.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "403" : {
            "description" : "You do not have permission to join the room. A meaningful errcode and description error text will be returned."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/joined_rooms" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API returns a list of the user's current rooms.",
        "description" : "",
        "operationId" : "joinedRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms the user is in.",
            "schema" : {
              "$ref" : "#/definitions/JoinedRoomsResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/keys/changes" : {
      "get" : {
        "tags" : [ "_matrixclientr0keys" ],
        "summary" : "Gets a list of users who have updated their device identity keys since a previous sync token.",
        "description" : "The server should include in the results any users who currently share a room with the calling user (ie, both users have membership state join); and added new device identity keys or removed an existing device with identity keys, between from and to.",
        "operationId" : "changes",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The desired start point of the list. Should be the next_batch field from a response to an earlier call to /sync. Users who have not uploaded new device identity keys since this point, nor deleted existing devices with identity keys since then, will be excluded from the results.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The desired end point of the list. Should be the next_batch field from a recent call to /sync - typically the most recent such call. This may be used by the server as a hint to check its caches are up to date.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of users who updated their devices.",
            "schema" : {
              "$ref" : "#/definitions/ChangesResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/keys/claim" : {
      "post" : {
        "tags" : [ "_matrixclientr0keys" ],
        "summary" : "Claims one-time keys for use in pre-key messages.",
        "description" : "",
        "operationId" : "claim",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ClaimRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The claimed keys.",
            "schema" : {
              "$ref" : "#/definitions/ClaimResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/keys/query" : {
      "post" : {
        "tags" : [ "_matrixclientr0keys" ],
        "summary" : "Returns the current devices and identity keys for the given users.",
        "description" : "",
        "operationId" : "query",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/QueryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The device information.",
            "schema" : {
              "$ref" : "#/definitions/QueryResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/keys/upload" : {
      "post" : {
        "tags" : [ "_matrixclientr0keys" ],
        "summary" : "Publishes end-to-end encryption keys for the device.",
        "description" : "",
        "operationId" : "upload",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UploadRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The provided keys were sucessfully uploaded.",
            "schema" : {
              "$ref" : "#/definitions/UploadResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/login" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Authenticates the user, and issues an access token they can use to authorize themself in subsequent requests",
        "description" : "If the client does not supply a device_id, the server must auto-generate one. The returned access token must be associated with the device_id supplied by the client or generated by the server. The server may invalidate any access token previously associated with that device",
        "operationId" : "login",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "login request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LoginRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been authenticated",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid. For example, the login type may not be recognised"
          },
          "401" : {
            "description" : "The login attempt failed. For example, the password may have been incorrect."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/login/cas/redirect" : {
      "get" : {
        "tags" : [ "_matrixclientr0logincas" ],
        "summary" : "A web-based Matrix client should instruct the user's browser to navigate to this endpoint in order to log in via CAS.",
        "description" : "The server MUST respond with an HTTP redirect to the CAS interface. The URI MUST include a service parameter giving the path of the /login/cas/ticket endpoint (including the redirectUrl query parameter).",
        "operationId" : "redirect",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "description" : "URI to which the user will be redirected after the homeserver has authenticated the user with CAS.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "302" : {
            "description" : "A redirect to the CAS interface"
          }
        }
      }
    },
    "/_matrix/client/r0/login/cas/ticket" : {
      "get" : {
        "tags" : [ "_matrixclientr0logincas" ],
        "summary" : "Once the CAS server has authenticated the user, it will redirect the browser to this endpoint (assuming /login/cas/redirect gave it the correct service parameter).",
        "description" : "The server MUST call /proxyValidate on the CAS server, to validate the ticket supplied by the browser. If validation is successful, the server must generate a Matrix login token. It must then respond with an HTTP redirect to the URI given in the redirectUrl parameter, adding a loginToken query parameter giving the generated token. If validation is unsuccessful, the server should respond with a 401 Unauthorized error, the body of which will be displayed to the user.",
        "operationId" : "ticket",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "description" : "The redirectUrl originally provided by the client to /login/cas/redirect.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ticket",
          "in" : "query",
          "description" : "CAS authentication ticket",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "302" : {
            "description" : "A redirect to the Matrix client."
          },
          "401" : {
            "description" : "The server was unable to validate the CAS ticket."
          }
        }
      }
    },
    "/_matrix/client/r0/logout" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Invalidates an existing access token, so that it can no longer be used for authorization.",
        "description" : "",
        "operationId" : "logout",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The access token used in the request was succesfully invalidated",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/logout/all" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Invalidates all access tokens for a user, so that they can no longer be used for authorization. This includes the access token that made this request",
        "description" : "This endpoint does not require UI authorization because UI authorization is designed to protect against attacks where the someone gets hold of a single access token then takes over the account. This endpoint invalidates all access tokens for the user, including the token used in the request, and therefore the attacker is unable to take over the account in this way.",
        "operationId" : "logoutAll",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "The user's access tokens were succesfully invalidated",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/notifications" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API is used to paginate through the list of events that the user has been, or would have been notified about.",
        "description" : "",
        "operationId" : "notifications",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Pagination token given to retrieve the next set of events.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "only",
          "in" : "query",
          "description" : "Allows basic filtering of events returned. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit on the number of events to return in this request.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "A batch of events is being returned.",
            "schema" : {
              "$ref" : "#/definitions/NotificationResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/presence/list/{userId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0presence" ],
        "summary" : "Retrieve a list of presence events for every user on this list.",
        "description" : "",
        "operationId" : "getPresenceList",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence list should be retrieved.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of presence events for this list.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "_matrixclientr0presence" ],
        "summary" : "Adds or removes users from this presence list.",
        "description" : "",
        "operationId" : "setPresenceList",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence list is being modified.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JSON body request for presence api."
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list was updated.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/presence/{userId}/status" : {
      "get" : {
        "tags" : [ "_matrixclientr0presence" ],
        "summary" : "Get the given user's presence state.",
        "description" : "",
        "operationId" : "getPresenceStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence state to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The presence state for this user.",
            "schema" : {
              "$ref" : "#/definitions/PresenceStatus"
            }
          },
          "404" : {
            "description" : "There is no presence state for this user. This user may not exist or isn't exposing presence information to you."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0presence" ],
        "summary" : "This API sets the given user's presence state. When setting the status, the activity time is updated to reflect that activity; the client does not need to specify the last_active_ago field. You cannot set the presence state of another user.",
        "description" : "",
        "operationId" : "setPresenceStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose presence state to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PresenceStatus"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The new presence state was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/profile/{userId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0profile" ],
        "summary" : "Get the combined profile information for this user. This API may be used to fetch the user's own profile information or other users; either locally or on remote homeservers. This API may return keys which are not limited to displayname or avatar_url.",
        "description" : "",
        "operationId" : "profile",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose profile information to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL for this user.",
            "schema" : {
              "$ref" : "#/definitions/Profile"
            }
          },
          "404" : {
            "description" : "There is no profile information for this user or this user does not exist."
          }
        }
      }
    },
    "/_matrix/client/r0/profile/{userId}/avatar_url" : {
      "get" : {
        "tags" : [ "_matrixclientr0profile" ],
        "summary" : "Get the user's avatar URL. This API may be used to fetch the user's own avatar URL or to query the URL of other users;  either locally or on remote homeservers.",
        "description" : "",
        "operationId" : "showAvatarUrl",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose avatar URL to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL for this user.",
            "schema" : {
              "$ref" : "#/definitions/AvatarUrl"
            }
          },
          "404" : {
            "description" : "There is no avatar URL for this user or this user does not exist."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0profile" ],
        "summary" : "This API sets the given user's avatar URL. You must have permission to set this user's avatar URL, e.g. you need to have their access_token.",
        "description" : "",
        "operationId" : "setAvatarUrl",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose avatar URL to set.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AvatarUrl"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The avatar URL was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/profile/{userId}/displayname" : {
      "get" : {
        "tags" : [ "_matrixclientr0profile" ],
        "summary" : "Get the user's display name. This API may be used to fetch the user's own displayname or to query the name of other users; either locally or on remote homeservers.",
        "description" : "",
        "operationId" : "showDisplayName",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose display name to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The display name for this user.",
            "schema" : {
              "$ref" : "#/definitions/DisplayName"
            }
          },
          "404" : {
            "description" : "There is no display name for this user or this user does not exist."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0profile" ],
        "summary" : "his API sets the given user's display name. You must have permission to set this user's display name, e.g. you need to have their access_token.",
        "description" : "",
        "operationId" : "setDisplayName",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "The user whose display name to set.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DisplayName"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The display name was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/publicRooms" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Lists the public rooms on the server. This API returns paginated responses. The rooms are ordered by the number of joined members, with the largest rooms first.",
        "description" : "",
        "operationId" : "showPublicRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of results returned.",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "since",
          "in" : "query",
          "description" : "A pagination token from a previous request, allowing clients to get the next (or previous) batch of rooms. The direction of pagination is specified solely by which token is supplied, rather than via an explicit flag.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "server",
          "in" : "query",
          "description" : "The server to fetch the public room lists from. Defaults to the local server.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms on the server.",
            "schema" : {
              "$ref" : "#/definitions/PublicRoomsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Lists the public rooms on the server, with optional filter. This API returns paginated responses. The rooms are ordered by the number of joined members, with the largest rooms first.",
        "description" : "",
        "operationId" : "searchPublicRooms",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "server",
          "in" : "query",
          "description" : "The server to fetch the public room lists from. Defaults to the local server.",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PublicRoomsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of the rooms on the server.",
            "schema" : {
              "$ref" : "#/definitions/PublicRoomsResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/pushers" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Gets all currently active pushers for the authenticated user.",
        "description" : "",
        "operationId" : "showPushers",
        "responses" : {
          "200" : {
            "description" : "The pushers for this user.",
            "schema" : {
              "$ref" : "#/definitions/PushersResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/pushers/set" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint allows the creation, modification and deletion of pushers for this user ID. The behaviour of this endpoint varies depending on the values in the JSON body.",
        "description" : "",
        "operationId" : "setPushers",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushersRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The pusher was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "One or more of the pusher values were invalid."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/pushrules" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Retrieve all push rulesets for this user. Clients can \"drill-down]\"on the rulesets by suffixing a scope to this path e.g. /pushrules/global/. This will return a subset of this data under the specified key e.g. the global key.",
        "description" : "",
        "operationId" : "pushRules",
        "responses" : {
          "200" : {
            "description" : "All the push rulesets for this user.",
            "schema" : {
              "$ref" : "#/definitions/PushRulesResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Retrieve a single specified push rule.",
        "description" : "",
        "operationId" : "pushRule",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The specific push rule. This will also include keys specific to the rule itself such as the rule's actions and conditions if set.",
            "schema" : {
              "$ref" : "#/definitions/PushRule"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint allows the creation, modification and deletion of pushers for this user ID. The behaviour of this endpoint varies depending on the values in the JSON body.",
        "description" : "",
        "operationId" : "update",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]." ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "Use 'before' with a rule_id as its value to make the new rule the next-most important rule with respect to the given user defined rule. It is not possible to add a rule relative to a predefined server rule.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "This makes the new rule the next-less important rule relative to the given user defined rule. It is not possible to add a rule relative to a predefined server rule.",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The pusher was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "There was a problem configuring this push rule."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      },
      "delete" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint removes the push rule defined in the path.",
        "description" : "",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]" ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The push rule was deleted.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}/actions" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint get the actions for the specified push rule.",
        "description" : "",
        "operationId" : "getActions",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Either global or device/&lt;profile_tag&gt; to specify global rules or device rules for the given profile_tag.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]." ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The actions for this push rule.",
            "schema" : {
              "$ref" : "#/definitions/PushActions"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint allows clients to change the actions of a push rule. This can be used to change the actions of builtin rules.",
        "description" : "",
        "operationId" : "setActions",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]." ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushActions"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The actions for the push rule were set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/pushrules/{scope}/{kind}/{ruleId}/enabled" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This endpoint gets whether the specified push rule is enabled.",
        "description" : "",
        "operationId" : "getEnabled",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Either global or device/&lt;profile_tag&gt; to specify global rules or device rules for the given profile_tag.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]." ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Whether the push rule is enabled.",
            "schema" : {
              "$ref" : "#/definitions/PushEnable"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "his endpoint allows clients to enable or disable the specified push rule.",
        "description" : "",
        "operationId" : "setEnabled",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "description" : "Global to specify global rules",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "kind",
          "in" : "path",
          "description" : "The kind of rule.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"override\"", "\"underride\"", "\"sender\"", "\"room\"", "\"content\"]." ]
        }, {
          "name" : "ruleId",
          "in" : "path",
          "description" : "The identifier for the rule.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PushEnable"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The push rule was enabled or disabled.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/register" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Register for an account on this homeserver.",
        "description" : "",
        "operationId" : "register",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "kind",
          "in" : "query",
          "description" : "The kind of account to register.",
          "required" : false,
          "type" : "string",
          "default" : "user",
          "enum" : [ "['guest'", "'user']" ]
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegisterRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The account has been registered",
            "schema" : {
              "$ref" : "#/definitions/LoginResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid."
          },
          "401" : {
            "description" : "The homeserver requires additional authentication information."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/register/available" : {
      "get" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Checks to see if a username is available, and valid, for the server.",
        "description" : "he server should check to ensure that, at the time of the request, the username requested is available for use.This includes verifying that an application service has not claimed the username and that the username fits the server'sdesired requirements (for example, a server could dictate that it does not permit usernames with underscores).Matrix clients may wish to use this API prior to attempting registration, however the clients must also be awarethat using this API does not normally reserve the username. This can mean that the username becomes unavailablebetween checking its availability and attempting to register it.",
        "operationId" : "available",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "The username to check the availability of",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The username is available.",
            "schema" : {
              "$ref" : "#/definitions/AvailableResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid or the username is not available"
          },
          "429" : {
            "description" : "This request was rate-limited"
          }
        }
      }
    },
    "/_matrix/client/r0/register/email/requestToken" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Request token.",
        "description" : "Proxies the identity server API validate/email/requestToken, but first checks that the given email address is not already associated with an account on this Home Server. Note that, for consistency, this API takes JSON objects, though the Identity Server API takes x-www-form-urlencoded parameters. See the Identity Server API for further information.",
        "operationId" : "requestToken",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestToken"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An email has been sent to the specified address.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "400" : {
            "description" : "Part of the request was invalid."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/ban" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Ban a user in the room. If the user is currently in the room, also kick them.",
        "description" : "",
        "operationId" : "ban",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) from which the user should be banned.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KickRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been kicked and banned from the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to ban the user from the room. A meaningful errcode and description error text will be returned."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/context/{eventId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This API returns a number of events that happened just before and after the specified event.",
        "description" : "This allows clients to get the context surrounding an event.",
        "operationId" : "context",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get events from.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event to get context around.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of events to return. Default: 10.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "The events and state surrounding the requested event.",
            "schema" : {
              "$ref" : "#/definitions/EventContextResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/event/{eventId}" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Get a single event based on roomId/eventId. You must have permission to retrieve this event e.g. by being a member in the room for this event.",
        "description" : "",
        "operationId" : "singleEvent",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The ID of the room the event is in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The full event.",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          },
          "404" : {
            "description" : "The event was not found or you do not have permission to read this event."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/forget" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API stops a user remembering about a particular room. In general, history is a first class citizen in Matrix. After this API is called, however, a user will no longer be able to retrieve history for this room. If all users on a homeserver forget a room, the room is eligible for deletion from that homeserver.",
        "description" : "",
        "operationId" : "forget",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier to forget.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been forgotten.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/invite" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API invites a user to participate in a particular room. They do not start participating in the room until they actually join the room.",
        "description" : "",
        "operationId" : "invite",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) to which to invite the user.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InviteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been invited to join the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to invite the user to the room. A meaningful errcode and description error text will be returned. "
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/join" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API starts a user participating in a particular room, if that user is allowed to participate in that room. After this call, the client is allowed to see all current state events in the room, and all subsequent events associated with the room until the user leaves the room.",
        "description" : "",
        "operationId" : "join",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) to join.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JoinRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been joined. The joined room ID must be returned in the room_id field.",
            "schema" : {
              "$ref" : "#/definitions/RoomId"
            }
          },
          "403" : {
            "description" : "You do not have permission to join the room. A meaningful errcode and description error text will be returned."
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/joined_members" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This API returns a map of MXIDs to member info objects for members of the room.",
        "description" : "The current user must be in the room for it to work, unless it is an Application Service in which case any of the AS's users must be in the room. This API is primarily for Application Services and should be faster to respond than/members as it can be implemented more efficiently on the server.",
        "operationId" : "joinedMembers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get the members of.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A map of MXID to room member objects.",
            "schema" : {
              "$ref" : "#/definitions/JoinedMembersResponse"
            }
          },
          "403" : {
            "description" : "You aren't a member of the room."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/kick" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Kick a user from the room.",
        "description" : "",
        "operationId" : "kick",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier (not alias) from which the user should be kicked.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KickRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The user has been kicked from the room.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "403" : {
            "description" : "You do not have permission to kick the user from the room. A meaningful errcode and description error text will be returned."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/leave" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "This API stops a user participating in a particular room. If the user was already in the room, they will no longer be able to see new events in the room. If the room requires an invite to join, they will need to be re-invited before they can re-join. If the user was invited to the room, but had not joined, this call serves to reject the invite.The user will still be allowed to retrieve history from the room which they were previously allowed to see.",
        "description" : "",
        "operationId" : "leave",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room identifier to leave.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The room has been left.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/members" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Get the list of members for this room.",
        "description" : "",
        "operationId" : "members",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get the member events for.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of members of the room. If you are joined to the room then this will be the current members of the room. If you have left the room then this will be the members of the room when you left.",
            "schema" : {
              "$ref" : "#/definitions/MembersResponse"
            }
          },
          "403" : {
            "description" : "You aren't a member of the room and weren't previously a member of the room."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/messages" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This API returns a list of message and state events for a room.",
        "description" : "It uses pagination query parameters to paginate history in the room.",
        "operationId" : "messages",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to get events from.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The token to start returning events from. This token can be obtained from a prev_batch token returned for each room by the sync API, or from a start or end token returned by a previous request to this endpoint.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The token to stop returning events at. This token can be obtained from a prev_batch token returned for each room by the sync endpoint, or from a start or end token returned by a previous request to this endpoint.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dir",
          "in" : "query",
          "description" : "The direction to return events from.",
          "required" : true,
          "type" : "string",
          "enum" : [ "['b'", "'f]" ]
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of events to return. Default: 10.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A JSON RoomEventFilter to filter returned events with.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of messages with a new token to request more.",
            "schema" : {
              "$ref" : "#/definitions/Page"
            }
          },
          "403" : {
            "description" : "You aren't a member of the room."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/receipt/{receiptType}/{eventId}" : {
      "post" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This API updates the marker for the given receipt type to the event ID specified.",
        "description" : "",
        "operationId" : "receipt",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room in which to send the event.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "receiptType",
          "in" : "path",
          "description" : "The type of receipt to send.",
          "required" : true,
          "type" : "string",
          "enum" : [ "[\"m.read\"]" ]
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event ID to acknowledge up to.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The receipt was sent.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/redact/{eventId}/{txnId}" : {
      "put" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Strips all information out of an event which isn't critical to the integrity of the server-side representation of the room.",
        "description" : "This cannot be undone. Users may redact their own events, and any user with a power level greater than or equal to the redact power level of the room may redact events there.",
        "operationId" : "redact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room from which to redact the event.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The ID of the event to redact.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "txnId",
          "in" : "path",
          "description" : "The transaction ID for this event. Clients should generate a unique ID; it will be used by the server to ensure idempotency of requests.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The reason for the event being redacted.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RedactRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An ID for the redaction event.",
            "schema" : {
              "$ref" : "#/definitions/SendEventResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/report/{eventId}" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Reports an event as inappropriate to the server, which may then notify the appropriate people.",
        "description" : "",
        "operationId" : "report",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room in which the event being reported is located.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "The event to report.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ReportRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The event has been reported successfully.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/send/{eventType}/{txnId}" : {
      "put" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This endpoint is used to send a message event to a room.",
        "description" : "Message events allow access to historical events and pagination, making them suited for \"once-off\" activity in a room. The body of the request should be the content object of the event; the fields in this object will vary depending on the type of event. See Room Events for the m. event specification.",
        "operationId" : "sendEvent",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to send the event to.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventType",
          "in" : "path",
          "description" : "The type of event to send.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "txnId",
          "in" : "path",
          "description" : "The transaction ID for this event. Clients should generate an ID unique across requests with the same access token; it will be used by the server to ensure idempotency of requests.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Event",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An ID for the sent event.",
            "schema" : {
              "$ref" : "#/definitions/SendEventResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/state" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Get the state events for the current state of a room.",
        "description" : "",
        "operationId" : "eventsForRoom",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to look up the state for.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The current state of the room.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "403" : {
            "description" : "You aren't a member of the room and weren't previously a member of the room."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/state/{eventType}" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Looks up the contents of a state event in a room. If the user is joined to the room then the state is taken from the current state of the room. If the user has left the room then the state is taken from the state of the room when they left.",
        "description" : "This looks up the state event with the empty state key.",
        "operationId" : "eventsForRoomWithType",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to look up the state in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventType",
          "in" : "path",
          "description" : "The type of state to look up.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the state event.",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          },
          "403" : {
            "description" : "You aren't a member of the room and weren't previously a member of the room."
          },
          "404" : {
            "description" : "The room has no state with the given type or key."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "State events can be sent using this endpoint.",
        "description" : "This endpoint is equivalent to calling /rooms/{roomId}/state/{eventType}/{stateKey} with an empty stateKey. Previous state events with matching (roomId) and (eventType), and empty (stateKey), will be overwritten. Requests to this endpoint cannot use transaction IDs like other PUT paths because they cannot be differentiated from the state_key. Furthermore, POST is unsupported on state paths. The body of the request should be the content object of the event; the fields in this object will vary depending on the type of event. See Room Events for the m.event specification.",
        "operationId" : "sendEventWithType",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to set the state in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventType",
          "in" : "path",
          "description" : "The type of event to send.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Event",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An ID for the sent event.",
            "schema" : {
              "$ref" : "#/definitions/SendEventResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/state/{eventType}/{stateKey}" : {
      "get" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "Looks up the contents of a state event in a room. If the user is joined to the room then the state is taken from the current state of the room. If the user has left the room then the state is taken from the state of the room when they left.",
        "description" : "",
        "operationId" : "eventsForRoomWithTypeAndState",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to look up the state in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventType",
          "in" : "path",
          "description" : "The type of state to look up.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "stateKey",
          "in" : "path",
          "description" : "The key of the state to look up.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The content of the state event.",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          },
          "403" : {
            "description" : "You aren't a member of the room and weren't previously a member of the room."
          },
          "404" : {
            "description" : "The room has no state with the given type or key."
          }
        }
      },
      "put" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "State events can be sent using this endpoint.",
        "description" : "These events will be overwritten if (room id), (event type) and (state key) all match. Requests to this endpoint cannot use transaction IDs like other PUT paths because they cannot be differentiated from the state_key. Furthermore, POST is unsupported on state paths. The body of the request should be the content object of the event; the fields in this object will vary depending on the type of event.See Room Events for the m.event specification.",
        "operationId" : "sendEventWithTypeAndState",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The room to set the state in.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventType",
          "in" : "path",
          "description" : "The type of event to send.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "stateKey",
          "in" : "path",
          "description" : "The state_key for the state to send. Defaults to the empty string.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "event",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An ID for the sent event.",
            "schema" : {
              "$ref" : "#/definitions/SendEventResponse"
            }
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/typing/{userId}" : {
      "put" : {
        "tags" : [ "_matrixclientr0rooms" ],
        "summary" : "This tells the server that the user is typing for the next N milliseconds where N is the value specified in the timeout key. Alternatively, if typing is false, it tells the server that the user has stopped typing.",
        "description" : "",
        "operationId" : "typing",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "description" : "The user who has started to type.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The room in which the user is typing.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON body request.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TypingRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The new typing state was set.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "429" : {
            "description" : "This request was rate-limited."
          }
        }
      }
    },
    "/_matrix/client/r0/rooms/{roomId}/unban" : {
      "post" : {
        "tags" : [ "_matrixclientr0" ],
        "summary" : "Unban a user from the room. This allows them to be invited to the room, and join if they would otherwise be allowed to join according to its join rules.",
        "description" : "",
        "operationId" : "unban",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
[...]
